<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/asset/images/favicon.ico}" type="images/x-icon"/>
    <link rel="stylesheet" th:href="@{/asset/css/login.css}"/>
    <style>
        html {
            background: url(main3.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <title>login</title>
</head>
<body>
    <div class="login-page">

        <div class="form">
            <img th:src="@{/asset/images/georlocklogo.png}" alt=""/>
            <!-- 로그인폼 -->
            <form class="login-form" name="login" th:action="@{/login}" method="post">
                <input type="text" placeholder="ID" name="empNo" class="inputcontrol"/>
                <input type="password" placeholder="PASSWORD" name="password" class="inputcontrol"/>
                <div class="checkbox">
                    <label class="checklabel">
                        <input type="checkbox" name="autoLogin" class="inp_radio" value="자동 로그인">
                    </label>
                </div>
                <button type="submit">login</button>
            </form>
        </div>
    </div>
</body>

<script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
<script>
    $(function () {
        var responseMessage = "<c:out value="${message}" />";
        if (responseMessage !== "") {
            alert(responseMessage)
        }
    })
</script>

</html>
</html>